@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Nunito+Sans:opsz,wght@6..12,500&family=Patua+One&display=swap');
body{
    padding: 10px;
    background-color: #0d1417;
    background-size: cover;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

ul{
    margin-left: -45px;
}

li{
    list-style: none;
   display: inline-block; 
}

.main{
    width: 600px;
    height: 429px;
    background-color: #344a58;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid aqua;
    box-shadow: 0px 0px 8px aqua,
    0px 0px 20px aqua;
}

.main .img{
    background-image: url(img/profil.jpg);
    background-color: #ffffff;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #00d0ff;
    box-shadow: 0px 0px 8px rgb(0, 120, 120),
    0px 0px 20px rgb(49, 119, 121)
 }

 .img:hover{
    box-shadow: 0px 0px 8px rgb(0, 64, 64),
    0px 0px 10px rgb(0, 77, 77),
    0px 0px 20px rgb(4, 73, 73),
    0px 0px 40px rgb(0, 85, 85);
    transition: 1s;
 }

.main h1{
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #ffffff;
    padding: 20px;
}

h1:hover{
    color: rgb(255, 255, 255);
    transition: 1s;
    text-shadow: 0px 0px 8px rgb(0, 64, 64),
    0px 0px 10px rgb(0, 164, 164),
    0px 0px 20px rgb(0, 181, 181);
    scale: 1.1;
    translate: 2rem;
}

.main h1 span{
    color: rgb(0, 255, 255);
}


.main .text{
    text-align: center;
    font-size: 15px;
    margin: 0;
    color: rgb(199, 199, 199);
    font-family: Arial, sans-serif;
}


.main p{
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #f3bf5e;
    font-family: sans-serif;
}

.main li{
    line-height: 50px;
    margin-left: 10px;
}

  
  @media screen and (max-width: 500px) {
    .main {
    width: 300px;
    height: 400px;
    
    }
    .main .img{
        width: 70px;
        height: 70px;
    }
    .main h1{
        font-size: 25px;
    }
    .main .text{
        font-size: 15px;
        padding-top:2px ;
    }
    .main p{
        font-size: 10px;
        margin: 0 auto;
        width: 300px;
        padding-top: 20px;
    }
    .main li {
        line-height: 10px;
        margin-left: 5px;
        padding-top: 20px;
        
    }
  }
  
  @media screen and (min-width: 600px) {
    .main {
    width: 400px;
    height: 300px;
    }
    .main .img{
        width: 70px;
        height: 70px;
    }
    .main h1{
        font-size: 25px;
    }
    .main .text{
        font-size: 15px;
        padding-top:2px ;
    }
    .main p{
        font-size: 10px;
        margin: 0 auto;
        width: 300px;
        padding-top: 20px;
    }
    .main li {
        line-height: 10px;
        margin-left: 5px;
        padding-top: 20px;
        
    }
  }
  